.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 80vh; */

}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.myModal .btn-close {
  display: none;
}

.mytable thead th {
  text-align: left;
  vertical-align: middle;
  outline: none;
  width: 500;
  /* border: none; */
}

.spaceTop {
  /* padding-top: 50%; */
  align-items: center;
}

.box {
  transition: box-shadow .3s;
  /* width: 500; */
  /* height: 500px; */
  /* margin: 20px; */
  border-radius: 10px;
  border: 1px solid #ccc;
  background: #fff;
  float: left;

}

.box:hover {
  /* box-shadow: 0 0 11px rgba(33, 33, 33, .2); */
}

.required:after {
  content: " *";
  color: red;
}

/****spinner *****/
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loading-spinner {
  width: 50px;
  height: 50px;
  border: 10px solid #f3f3f3;
  /* Light grey */
  border-top: 10px solid #383636;
  /* Blue */
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
  justify-content: center;
  align-items: center;


}

.spinner-container {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 350px;
  position: absolute;
  z-index: 1;


}

.wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  padding: 8px;
}

.sticky {
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  top: 0;
  z-index: 1;
}

.row-item {
  /* background-color: #d6d6d6; */
  /* width: max-content; */
  /* position: absolute; */
}

.toggle-button-right {
  float: right;
  align-content: center;
  /* margin-right: 20%; */
}

.toggle-button-left {
  float: left;
  margin-top: 2%;
}

.toggle-button-center {
  /* margin-right: 200;
  margin-left: 500; */
}

.add-margin-bottom{
  margin-bottom: 20;
}

.center-items-table {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30%;
  /* height: 100vh; */
}

.card:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, .2);
  /* transform: translateY(-5px); */

}
